body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.items {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.items>.item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    height: auto;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}
@media screen and (max-width: 1024px) {
    .items>.item{
        width: 315px;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .items>.item{
        width: 225px;
        height: auto;
    }
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}

.item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
}

.items>.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
}

.button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.25;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 1);
    z-index: -99;
    border-radius: 50%;
}

.button-container .button:nth-child(1) {
    float: left;
}

.button-container .button:nth-child(2) {
    float: right;
}