:root {
    --firstColor: #3C3633;
    --secondColor: #747264;
    --thirdColor: #E0CCBE;
    --fourthColor: #EEEDEB;

    --fontFirst: #B2A59B;
    --fontSecond: #DED0B6;
    --fontThird: #3E3232;
    --fontFourth: #503C3C;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
}
h1{
    text-align: center;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--thirdColor);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--fontFirst);
    overflow-x: hidden;
}

a {
    color: var(--fontSecond);
}

a:link {
    text-decoration: none;
}

.icons{
    color: var(--fourthColor);
}
.icons:hover {
    color: var(--fontSecond);
}



/* Nav */
header {
    width: 100%;
    height: 70px;
    background-color: var(--firstColor);
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
}
nav {
    margin-right: 10%;
    width: auto;
    max-width: 100%;
    height: 60px;
    right: 3%;
    /* border: 1px solid green; */
}
.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.nav-list li {
    color: white;
    display: block;
    margin: 0 10px;
    /* border: 1px solid green; */
}
.nav-list a {
    text-decoration: none;
    color: var(--fourthColor);
}
.nav-list a:hover {
    color: var(--fontSecond);
}
.logo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 15px;
}
.logo-a {
    margin-left: 10.5%;
}



/* Top Half of the Main Section */
main {
    position: absolute;
    padding-top: 70px;
}
.bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    max-height: auto;
    opacity: 0.4;
}
.top-sect {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.top-sect-content {
    position: absolute;
    text-align: left;
    left: 20%;
    /* justify-content: left; */
    z-index: 1;
}
.welcome {
    color: var(--fontThird);
}
h1 {
    color: black;
}
h3 {
    color: var(--fontFourth);
}



/* Below the top half of the main section */
.other-sect{
    padding: 5% 11.5%;
}
.other-sect.about {
    background-color: var(--fourthColor);
}
.about-me{
    margin-bottom: 5%;
    /* border: 1px solid red; */
}
.about-me>*{
    padding-left: 5%;
    color: var(--fontThird);
    text-align: center;
}
.my-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: var(--firstColor);
    width: 120px;
    height: 120px;
    margin: 10px;
    text-align: center;
    border-radius: 6px;
    padding-top: 2%;
}
.box img{
    width: 50px;
    height: 50px;
}



.other-sect.portfolio {
    padding-bottom: 21%;
}
.carousel-cert {
    padding-top: 19%;
    /* border: 1px solid red; */
}


.projects-container{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
    padding: 0 10px; 
}
.project-box{
    width: 300px;
    height: 210px;
    background-color: var(--firstColor);
    border-radius: 6px;
    margin: 20px auto;
    /* border: 1px solid green; */
}
.project-box img{
    width: 100%;
    height: 160px;
    border-radius: 6px 6px 0 0;
    /* border: 1px solid red; */
}
.project-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
}
.project-details h5{
    margin: 0;
    color: var(--fontSecond);
}

.project-details a {
    text-decoration: none;
    color: var(--fontSecond);
    font-size: small;
    font-family: inherit;
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.project-details a:focus,
.project-details a:hover {
    color: #fff;
}
.project-details a:focus:after,
.project-details a:hover:after {
    width: 100%;
    left: 0%;
}
.project-details a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}




.contacts {
    background-color: var(--firstColor);
    padding: 2% 2%;
}



/* Footer */
.footer-container {
    display: flex;
    margin: 0 10% 0 10%;
}
.footer1 {
    color: var(--secondColor);
    width: 45%;
}
.footer1>h4 {
    width: 80%;
}
.footer2 {
    width: 25%;
    height: 100%;
}
.contact-section {
    width: 30%;
    padding: 2%;
    /* border: 1px solid red; */
}
.social-media {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    width: 80%;
    margin: auto;
    margin-bottom: 4%;
}
.icons{
    margin: 0 3px;
}

.footer-name {
    color: var(--fontSecond);
}



/* Landing Button Design */
.button-50 {
    appearance: button;
    background-color: var(--firstColor);
    background-image: none;
    border: 1px solid var(--firstColor);
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, var(--firstColor) 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 8px 34px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.button-50:focus {
    text-decoration: none;
}
.button-50:hover {
    text-decoration: none;
}
.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}
.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, var(--firstColor) 2px 2px 0 1px;
    transform: translate(2px, 2px);
}



/* Footer Button Design */
button {
    font-size: 18px;
    color: #e1e1e1;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-left: 27%;
}
button:focus,
button:hover {
    color: #fff;
}
button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}
button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}





@media screen and (max-width: 1024px) {
    .top-sect-content {
        left: 10%;
        top: 20%;
        padding-right: 10%;
        
    }

    .top-sect-content p {
        padding-right: 10%;
    }

    .nav-list {
        flex-wrap: wrap;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        margin: 0 5% 0 5%;
    }

    .footer1,
    .footer2,
    .contact-section {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .social-media {
        width: 100%;
        justify-content: center;
    }

    button {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
    }

    .logo-a {
        margin-left: 0;
    }

    nav {
        margin-right: 0;
        width: 100%;
    }

    nav>.nav-list {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .top-sect-content {
        left: 5%;
        top: 13%;
        padding-right: 5%;
    }

    .top-sect-content p {
        padding-right: 5%;
    }

    .other-sect {
        padding: 4%;
    }

    .others {
        margin-left: 4%;
        margin-right: 4%;
    }

    .footer-container {
        margin: 0 2% 0 2%;
    }

    nav {
        margin-right: 0;
        width: 100%;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .box {
        width: calc(50% - 120px);
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 50px;
        height: 50px;
    }

    .top-sect-content {
        left: 5%;
        top: 5%;
        padding-right: 5%;
    }

    .top-sect-content h1 {
        font-size: 1.5em;
    }

    .top-sect-content h3 {
        font-size: 1.2em;
    }

    .top-sect-content p {
        padding-right: 5%;
        font-size: 0.9em;
    }

    .button-50 {
        font-size: 12px;
        padding: 10px 30px;
    }

    .footer-container {
        margin: 0 1% 0 1%;
    }

    button {
        font-size: 16px;
    }
}
